.DS_Store
node_modules/**/**
finalOutput/*.js
.merlin
.install
/lib/
*.log
.bsb.lock
_esy
_build
*.install
build/**
*.js
yarn-error.log
.webpack/

# Editor
/.idea/

# Serverless directories
.serverless